/Anti-Spoofing/Data/
/Anti-Spoofing/crop/
/Anti-Spoofing/Raw Data/
/Anti-Spoofing/Test/
*.zip
*.rar
/VietnameseHandWritten/Data/
/VietnameseHandWritten/Results/
/VietnameseHandWritten/TensorboardLogs/
/VietnameseHandWritten/Test/
/VietnameseHandWritte/SavedModel/